@page "{id}"
@using _01_framwork.Applicatin
@model ServiceHost.Pages.ArticleModel
@inject IAuthHelper authHelper
@{
    ViewData["Title"] = @Model.Article.Title;
    ViewData["Keywords"] = @Model.Article.KeyWords;
    ViewData["MetaDescription"] = @Model.Article.MetaDescription;
}
<div class="breadcrumb-area section-space--half">
    <div class="container wide">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-wrapper breadcrumb-bg">
                    <div class="breadcrumb-content">
                        <h1 class="breadcrumb-content__title">@Model.Article.Title</h1>
                        <ul class="breadcrumb-content__page-map">
                            <li>
                                <a asp-page="./Index">صفحه اصلی</a>
                            </li>
                            <li>
                                <a asp-page="/ArticleCategory" asp-route-id="@Model.Article.CategorySlug">@Model.Article.CategoryName</a>
                            </li>
                            <li class="active">@Model.Article.Title</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-wrapper">
                    <div class="page-content-wrapper">
                        <div class="row">
                            <div class="col-lg-9 order-1 order-lg-1">
                                <div class="blog-page-content">
                                    <div class="blog-single-post-container">
                                        <h3 class="post-title">@Model.Article.Title</h3>
                                        <div class="post-meta">
                                            <p>
                                                <span>
                                                    <i class="fa fa-calendar"></i>نوشته شده در :
                                                    @Model.Article.PublishDate
                                                </span>
                                            </p>
                                        </div>
                                        <div class="single-blog-post-media">
                                            <div class="image">
                                                <img src="~/Upload/@Model.Article.Picture" class="img-fluid" alt="@Model.Article.PictureAlt" title="@Model.Article.PictureTitle">
                                            </div>
                                        </div>

                                        <!--=======  End of Post media  =======-->
                                        <!--=======  Post content  =======-->

                                        <div class="post-content">
                                            <p>
                                                @Html.Raw(Model.Article.Description)
                                            </p>
                                        </div>

                                        <!--=======  End of Post content  =======-->
                                        <!--=======  Tags area  =======-->

                                        <div class="tag-area">
                                            <span>تگ ها: </span>
                                            <ul>
                                                @foreach (var tag in Model.Article.KeyWordsList)
                                                {
                                                    <li><a asp-page="./Search" asp-route-value="@tag">@tag </a></li>
                                                }
                                            </ul>
                                        </div>

                                        <!--=======  End of Tags area  =======-->
                                        <!--=======  Share post area  =======-->

                                        <div class="social-share-buttons">
                                            <h3>share this post</h3>
                                            <ul>
                                                <li>
                                                    <a class="twitter" href="#">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="facebook" href="#">
                                                        <i class="fa fa-facebook"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="google-plus" href="#">
                                                        <i class="fa fa-google-plus"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="pinterest" href="#">
                                                        <i class="fa fa-pinterest"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <!--=======  End of blog post container  =======-->
                                    <!--=============================================
                                    =            Comment section         =
                                    =============================================-->

                                    <div class="comment-section">
                                        <h3 class="comment-counter">کامنت ها(@Model.Article.Comments.Count)</h3>

                                        <div class="comment-container">
                                            @foreach (var comment in Model.Article.Comments)
                                            {
                                                <div class="single-comment" id="comment-@comment.Id">
                                                    <span class="reply-btn">
                                                        <a href="#Message" onclick='$("#ParentId").val(@comment.Id)'>پاسخ</a>
                                                    </span>

                                                    <div class="image">
                                                        <img src="~/theme/assets/img/blog/comment-icon.png" alt="">
                                                    </div>
                                                    <div class="content">
                                                        <h3 class="user">
                                                            @comment.Name <span class="comment-time">
                                                                @comment.CreationDate
                                                            </span>
                                                        </h3>
                                                        @if (comment.ParentId > 0 || comment.ParentId != null)
                                                        {
                                                            <p><span>در پاسخ به:</span> <a href="#comment-@comment.ParentId">@comment.Parent</a> </p>
                                                        }

                                                        <p class="comment-text">
                                                            @comment.Message
                                                        </p>
                                                        <p>
                                                            <span>تعداد پاسخ ها:</span>@comment.Children.Count
                                                        </p>
                                                    </div>
                                                </div>
                                            }
                                        </div>

                                        <!--=======  End of comment container  =======-->
                                        <!--=======  comment form container  =======-->

                                        <div class="comment-form-container">
                                            <h3 class="comment-form-title">نظر خود را باما به اشتراک بگذارید</h3>
                                            <p>
                                                ایمیلی  وارد شده توسط شما به صورت محرمانه است.
                                            </p>

                                            <!--=======  comment form  =======-->
                                            @if (authHelper.IsAuthenticated())
                                            {
                                                <div class="comment-form">
                                                    <form method="post">
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="form-group">
                                                                    <label>نظر شما:</label>
                                                                    <textarea name="Message" id="Message"></textarea>
                                                                </div>
                                                            </div>
                                                            <input type="hidden" name="Name" id="Name" value="@authHelper.CurrentAccountName()">
                                                            <input type="hidden" name="Mobile" id="Mobile" value="@authHelper.CurrentAccountMobile()">
                                                            @*<input type="text" name="Website" id="Website">*@
                                                            <input type="hidden" id="OwnerRecordId" name="OwnerRecordId" value="@Model.Article.Id" />
                                                            <input type="hidden" id="ArticleSlug" name="ArticleSlug" value="@Model.Article.Slug" />
                                                            <input type="hidden" id="ParentId" name="ParentId" value="" />
                                                            <div class="col-lg-12">
                                                                <button type="submit" class="comment-btn" name="submit">
                                                                    ارسال
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            }
                                            else
                                            {
                                                <p><a asp-page="./Acount"  >لطفا ورود یا ثبت نام کنید</a></p>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 order-2 order-lg-2">
                                <div class="page-sidebar-wrapper">
                                    <div class="single-sidebar-widget">

                                        <h4 class="single-sidebar-widget__title">دسته بندی مقالات</h4>
                                        <ul class="single-sidebar-widget__category-list">
                                            @foreach (var category in Model.ArticleCategories)
                                            {
                                                <li class="has-children">
                                                    <a asp-page="./ArticleCategory" asp-route-id="@category.Slug">
                                                        @category.Name <span class="counter">@category.ArticleCount</span>
                                                    </a>
                                                </li>
                                            }

                                        </ul>
                                    </div>

                                    <div class="single-sidebar-widget">

                                        <h4 class="single-sidebar-widget__title">اخرین مقالات</h4>
                                        <div class="block-container">
                                            @foreach (var article in Model.latestArticles)
                                            {
                                                <div class="single-block d-flex">
                                                    <div class="image">
                                                        <a asp-page="./Article" asp-route-id="@article.Slug">
                                                            <img src="~/Upload/@article.Picture"
                                                             class="img-fluid" alt="@article.PictureAlt" title="@article.PictureTitle">
                                                        </a>
                                                    </div>
                                                    <div class="content">
                                                        <p>
                                                            <a asp-page="./Article" asp-route-id="@article.Slug">
                                                                @article.Title
                                                            </a> <span>@article.PublishDate</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>

                                    <!--=======  single sidebar widget  =======-->
                                    <div class="single-sidebar-widget">
                                        <h4 class="single-sidebar-widget__title">تگ ها</h4>
                                        <ul class="single-sidebar-widget__tag-list">
                                            @foreach (var tag in Model.Article.KeyWordsList)
                                            {
                                                <li>
                                                    <a asp-page="/Search" asp-route-value="@tag">@tag</a>
                                                </li>
                                            }


                                        </ul>
                                    </div>
                                    <!--=======  End of single sidebar widget  =======-->
                                </div>
                                <!--=======  End of page sidebar wrapper  =======-->
                            </div>
                        </div>
                    </div>
                </div>
                <!--=======  End of page wrapper  =======-->
            </div>
        </div>
    </div>
</div>