@page
@using ShopManagement.Application.Contracts.Order
@using _0_Framework.Application
@model ServiceHost.Pages.CheckOutModel
@{
    ViewData["Title"] = " تایید سبد خرید/ پرداخت";

}
<div class="breadcrumb-area section-space--half">
    <div class="container wide">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-wrapper breadcrumb-bg">
                    <div class="breadcrumb-content">
                        <h2 class="breadcrumb-content__title">تایید سبد خرید / پرداخت</h2>
                        <ul class="breadcrumb-content__page-map">
                            <li>
                                <a href="index.html">صفحه اصلی</a>
                            </li>
                            <li class="active">تایید سبد خرید / پرداخت</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-wrapper">
                    <div class="page-content-wrapper">
                        <form method="post">
                            <div class="cart-table table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="pro-thumbnail">عکس</th>
                                            <th class="pro-thumbnail">محصول</th>
                                            <th class="pro-title">قیمت واحد</th>
                                            <th class="pro-price">تعداد</th>
                                            <th class="pro-quantity">مبلغ کل بدون تخفیف</th>
                                            <th class="pro-quantity">درصد تخفیف</th>
                                            <th class="pro-subtotal">مبلغ کل تخفیف</th>
                                            <th class="pro-remove">مبلغ پس از تخفیف</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var cartItem in Model.Cart.CartItems)
                                        {
                                            <tr>
                                                <td class="pro-thumbnail">
                                                    <a href="single-product.html">
                                                        <img src="~/Upload/@cartItem.picture" class="img-fluid">
                                                    </a>
                                                </td>
                                                <td class="pro-title">
                                                    <a>
                                                        @cartItem.Name
                                                    </a>
                                                </td>
                                                <td class="pro-price">
                                                    <span>@cartItem.Unitprice.ToMoney() تومان</span>
                                                </td>
                                                <td class="pro-price">
                                                    <span>@cartItem.Count عدد</span>
                                                </td>
                                                <td class="pro-subtotal">
                                                    <span>@cartItem.TotalPrice.ToMoney() تومان</span>
                                                </td>
                                                <td class="pro-subtotal">
                                                    <span>@cartItem.DiscountRate% </span>
                                                </td>
                                                <td class="pro-subtotal">
                                                    <span>@cartItem.DiscountAmount.ToMoney() تومان</span>
                                                </td>
                                                <td class="pro-subtotal">
                                                    <span>@cartItem.ItemPayAmount.ToMoney() تومان</span>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-12 d-flex">
                                    <div class="checkout-payment-method">
                                        <h4>نحوه پرداخت</h4>
                                        @foreach (var method in PaymentMethod.GetList())
                                        {
                                            <div class="single-method">
                                                <input type="radio" id="payment_@method.Id" name="paymentMethod" value="@method.Id" @(PaymentMethod.GetList().First().Id == method.Id ? "checked" : "")>
                                                <label for="payment_@method.Id">@method.Name</label>
                                                <p data-method="@method.Id" style="display:@(PaymentMethod.GetList().First().Id == method.Id ? "block" : "none")">@method.Description</p>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12 d-flex">
                                    <div class="cart-summary">
                                        <div class="cart-summary-wrap">
                                            <h4>خلاصه وضعیت فاکتور</h4>
                                            <p>مبلغ نهایی <span>@Model.Cart.TotalPrice.ToMoney() تومان</span></p>
                                            <p>مبلغ تخفیف <span>@Model.Cart.TotalDiscountPrice.ToMoney() تومان</span></p>
                                            <h2>مبلغ قابل پرداخت <span>@Model.Cart.PaymentPrice.ToMoney() تومان</span></h2>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top:10px">
                                <div class="cart-summary" style="border:1px solid;max-height:450px;overflow:auto">

                                    <div class="col-md-12">
                                        <div>
                                            <a class="btn btn-success btn-lg" style="margin:10px;" href="#showmodal=@Url.Page("./CheckOut", "Create")">ایجاد ادرس جدید</a>
                                        </div>
                                        @foreach (var Address in Model.Addresses)
                                        {
                                            <div class="cart-summary-wrap">
                                                <div style="float:left;">
                                                    <a asp-page-handler="Remove" asp-route-id="@Address.Id"> <i class="fa fa-remove text-danger"></i></a>
                                                    <a href="#showmodal=@Url.Page("./CheckOut", "Edit",new{id =Address.Id,stateId=Address.StateId})"><i class="fa fa-edit"></i></a>
                                                </div>
                                                <div>
                                                    <input type="radio" id="AddressId" name="AddressId" value="@Address.Id" @(Model.Addresses.First().Id==Address.Id?"checked":"") />
                                                </div>
                                                <p>@Address.Acount</p>
                                                <p> @Address.State _ @Address.City _ @Address.Street</p>
                                            </div>
                                        }
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="cart-summary-button">
                                        <button asp-page-handler="Pay">پرداخت</button>
                                    </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
