@using _01_Shoplyquery.Contracts.Article
@model List<ArticleQueryModel>
@{

}

<div class="blog-post-slider-area">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="blog-post-slider-border-wrapper section-space--inner">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-title-wrapper text-center section-space--half">
                                <h2 class="section-title">اخرین مقالات</h2>
                                <p class="section-subtitle">
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="blog-post-slider-wrapper">
                                <div class="ht-slick-slider" data-slick-setting='{
                                    "slidesToShow": 3,
                                    "slidesToScroll": 1,
                                    "arrows": false,
                                    "autoplay": true,
                                    "autoplaySpeed": 1000,
                                    "speed": 1000,
                                    "infinite": true,
                                    "rtl": true
                                }' data-slick-responsive='[
                                    {"breakpoint":1501, "settings": {"slidesToShow": 3} },
                                    {"breakpoint":1199, "settings": {"slidesToShow": 3} },
                                    {"breakpoint":991, "settings": {"slidesToShow": 2} },
                                    {"breakpoint":767, "settings": {"slidesToShow": 1} },
                                    {"breakpoint":575, "settings": {"slidesToShow": 1} },
                                    {"breakpoint":479, "settings": {"slidesToShow": 1} }
                                ]'>
                                    @foreach (var Article in Model)
                                    {
                                        <div class="col">
                                            <div class="single-slider-post">
                                                <div class="single-slider-post__image">
                                                    <a asp-page="./Article" asp-route-id="@Article.Slug">
                                                        <img src="~/Upload/@Article.Picture"
                                                         class="img-fluid" alt="@Article.PictureAlt" title="@Article.PictureTitle">
                                                    </a>
                                                    <div class="single-slider-post__date-sticker">
                                                        <span class="month">@Article.PublishDate</span>
                                                    </div>
                                                </div>
                                                <div class="single-slider-post__content">
                                                    <h3 class="title">
                                                        <a asp-page="/Article" asp-route-id="@Article.Slug">
                                                            @Article.Title
                                                        </a>
                                                    </h3>
                                                    <p class="short-desc">
                                                        @Html.Raw(Article.ShortDescription)
                                                    </p>
                                                    <a asp-page="/Article" asp-route-id="@Article.Slug" class="blog-post-link">
                                                        ادامه مطلب
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>